header {
    /* background:#FF0000; */
    color: white;
    height:70px;
    width:100%;
    border-bottom-style: solid;
    border-bottom-color: #CCCCCC;
    border-bottom-width: 1px;
    background-image:url(../images/logo.png);
    background-repeat: no-repeat;
    background-position-x: 20px;
    background-position-y: center;
  }
